streamlit==1.45.0
langgraph==0.4.3
langgraph-sdk==0.1.66
langgraph-checkpoint==2.0.25
langgraph-prebuilt==0.1.8
langchain==0.3.25
langchain-core==0.3.59
langsmith==0.3.42

pandas==2.2.3
numpy==2.2.5
requests==2.32.3
pydeck==0.9.1
orjson==3.10.18
protobuf==6.30.2

GitPython==3.1.44
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-oauthlib==1.2.2
httplib2==0.22.0
oauthlib==3.2.2
requests-oauthlib==2.0.0

SQLAlchemy==2.0.40
PyYAML==6.0.2
watchdog==6.0.0
